# Byte-compiled / optimized / DLL files
**/__pycache__/**
*.py[cod]
*$py.class
**/.DS_Store
venv/

# C extensions
# *.so

# vscode
*.vscode

# tg session
*.session
*.session-journal

auto_run.json
logs/
*.log
bit_id_map.json
geckodriver.log

