# Byte-compiled / optimized / DLL files
**/__pycache__/**
*.py[cod]
*$py.class
**/.DS_Store
venv/
.python-version

# C extensions
# *.so

# vscode
*.vscode

auto_run.json
logs/
*.log
*.swp
bit_id_map.json
geckodriver.log
auto_set_jd_cookie*
run.sh
drivers/**
jd_pass.json
